{{#each presets as |preset|}}
<button {{action "applyPreset" preset}} tabindex={{tabIndex}} class="dp-preset {{if preset.isSelected dp-preset-selected}}">
    {{preset.name}}
</button>
{{/each}}

{{yield}}
