<button class="dp-btn-month {{if isExpanded 'active'}}" {{action "toggleIsExpanded"}}>
  {{moment-format month "MMM"}}
</button>

{{#if isExpanded}}
  <div class="dp-month-body">
    {{#each allMonths as |month monthIndex|}}
      <button {{action "setMonth" monthIndex}}>
        {{friendly-month month}}
      </button>
    {{/each}}
  </div>
{{/if}}