<button class="btn-month {{if isExpanded 'active'}}" {{action "toggleIsExpanded"}}>
  {{moment-format month "MMM"}}
</button>

{{#if isExpanded}}
  {{#ember-wormhole to=wormholeTarget setMonth=(action "setMonth") renderInPlace=renderInPlace}}
    <div class="month">
      {{#each allMonths as |month|}}
        <button {{action "setMonth" month}}>
          {{friendly-month month}}
        </button>
      {{/each}}
    </div>
  {{/ember-wormhole}}
{{/if}}