{{#unless hideButton}}
  <button class="dp-btn-year {{if isExpanded 'active'}}" {{action "toggleIsExpanded"}}>
    {{moment-format month "YYYY"}}
  </button>
{{/unless}}

{{#if isExpanded}}
  <div class="dp-year-body">
    {{#each allYears as |year|}}
      <button {{action "setYear" year}}>{{year}}</button>
    {{/each}}
  </div>
{{/if}}