<div class="month-year-picker">
  {{#if showInput}}
    {{input-mask value=rangeFormatted
                 mask="99/9999 - 99/9999"
                 classNames="date-input date-range-picker-input"
                 focus-in="toggleIsExpanded"
                 key-press="parseInput"}}
  {{/if}}

  {{#if isExpanded}}
    <div class="panel">

      <div class="calendar">

        <div class="header">

          {{month-display class="month-select"
                          startDate=startDate
                          month=startDate}}

          {{year-display class="year-select"
                         startDate=startDate}}

        </div>

       </div>

       <div class="calendar">

        {{month-display startDate=endDate month=endDate}}

        {{year-display startDate=endDate}}

        <div id="month-display-buttons"></div>

        <div id="year-display-buttons"></div>

      </div>

      <div class="action-console">
        <button {{action "cancel"}}>Cancel</button>
      </div>

    </div>
  {{/if}}
</div>