<div class="dp-month-picker">
  {{#if showInput}}
    {{input-mask value=rangeFormatted
                 greedy=false
                 skipOptionalPartCharacter="/"
                 clearIncomplete=true
                 mask="9[9]/99[99]-9[9]/99[99]"
                 class="dp-date-input"
                 focus-in="toggleIsExpanded"
                 key-press="parseInput"
                 tabindex=1}}
  {{/if}}

  {{#if isExpanded}}
    <div class="dp-panel">
      <div class="dp-display-month-year">
        {{month-display startDate=startDate
                        month=startDate
                        isExpanded=leftMonthIsExpanded}}

        {{year-display startDate=startDate
                       month=startDate
                       isExpanded=leftYearIsExpanded
                       yearWasSelected="toggleLeftYearExpanded"}}

      </div>

      <div class="dp-display-month-year">
        {{month-display startDate=endDate
                        month=endDate
                        isExpanded=rightMonthIsExpanded
                        endOfMonth=true}}

        {{year-display startDate=endDate
                       month=endDate
                       isExpanded=rightYearIsExpanded
                       yearWasSelected="toggleRightYearExpanded"}}
      </div>

      <div class="dp-action-console">
        <button {{action "clear"}} class="dp-clear" tabindex=1>Clear</button>
        <button {{action "cancel"}} class="dp-cancel" tabindex=1>Cancel</button>
        <button {{action "apply"}} class="dp-apply" tabindex=1>Apply</button>
      </div>
    </div>
  {{/if}}
</div>
