<div class="calendar-buttons">
  <button class="btn-previous-month" {{action "prevMonth"}}/>

  <div class="month-year">
    <button class="btn-month" {{action "toggleMonthPicker"}}>{{moment-format month "MMM"}}</button>

    <button class="btn-year" {{action "toggleYearPicker"}}>{{moment-format month "YYYY"}}</button>
  </div>

  <button class="btn-next-month" {{action "nextMonth"}}/>
</div>

{{#if calendarExpanded}}
  {{#each weeks as |week|}}
    <div class='week'>
      {{#each week as |day|}}
        {{day-display selectionStart=selectionStart
                      selectionEnd=selectionEnd
                      day=day
                      month=month
                      daySelected="daySelected"}}
      {{/each}}
    </div>
  {{/each}}
{{/if}}

{{#if monthPickerExpanded}}
  <div class="month">
    {{#each allMonths as |month|}}
      <button {{action "setMonth" month}}>{{month}}</button>
    {{/each}}
  </div>
{{/if}}

{{#if yearPickerExpanded}}
  <div class="year">
    {{#each allYears as |year|}}
      <button {{action "setYear" year}}>{{year}}</button>
    {{/each}}
  </div>
{{/if}}
