<div class="previous"><button class="btn-previous-month" {{action "prevMonth"}}/></div>

<div class="calendar-view">
  <div class="calendar-header">
    <div class="month-year">
      <button class="btn-month {{if monthPickerExpanded 'active'}}" {{action "toggleMonthPicker"}}>
        {{moment-format month "MMMM"}}
      </button>

      <button class="btn-year {{if yearPickerExpanded 'active'}}" {{action "toggleYearPicker"}}>
        {{moment-format month "YYYY"}}
      </button>
    </div>
  </div>

  <div class="calendar-body">
    {{#if calendarExpanded}}
      {{#each weeks as |week|}}
        <div class='week'>
          {{#each week as |day|}}
            {{day-display selectionStart=selectionStart
                          selectionEnd=selectionEnd
                          day=day
                          month=month
                          daySelected="daySelected"}}
          {{/each}}
        </div>
      {{/each}}
    {{/if}}

    {{#if monthPickerExpanded}}
      <div class="month">
        {{#each allMonths as |month|}}
          <button {{action "setMonth" month}}>
            {{friendly-month month}}
          </button>
        {{/each}}
      </div>
    {{/if}}

    {{#if yearPickerExpanded}}
      <div class="year">
        {{#each allYears as |year|}}
          <button {{action "setYear" year}}>{{year}}</button>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<div class="previous"><button class="btn-next-month" {{action "nextMonth"}}/></div>
