{{input value=rangeFormatted
        class="date-range-picker-input"
        focus-in="toggleIsExpanded"}}

{{#if isExpanded}}
  <div class="half">
    {{presets-picker presets=presets
                     startSelected="startSelected"
                     endSelected="endSelected"}}

    <button {{action "cancel"}}>Cancel</button>
    <button {{action "apply"}}>Apply</button>
  </div>

  <div class="half">
    {{calendar-display classNames="left-calendar"
                       selectionStart=startDate
                       selectionEnd=endDate
                       month=startMonth
                       daySelected="startSelected"
                      prevMonth="prevStartMonth"
                       nextMonth="nextStartMonth"}}

    {{calendar-display classNames="right-calendar"
                       selectionStart=startDate
                       selectionEnd=endDate
                       month=endMonth
                       daySelected="endSelected"
                       prevMonth="prevEndMonth"
                       nextMonth="nextEndMonth"}}
  </div>
{{/if}}