<div>
  {{input value=rangeFormatted
          class="date-range-picker-input"
          focus-in="toggleIsExpanded"}}
</div>

{{#if isExpanded}}
  <div class="left-calendar">
    {{! <button {{action "prevStartMonth"}\}>Prev</button> }}
    {{! <button {{action "nextStartMonth"}\}>Next</button> }}

    {{calendar-display classes="left"
                       selectionStart=startDate
                       selectionEnd=endDate
                       month=startMonth
                       daySelected="startSelected"}}
  </div>

  <div class="right-calendar">
    {{! <button {{action "prevEndMonth"}\}>Prev</button> }}
    {{! <button {{action "nextEndMonth"}\}>Next</button> }}

    {{calendar-display classes="right"
                       selectionStart=startDate
                       selectionEnd=endDate
                       month=endMonth
                       daySelected="endSelected"}}
  </div>

  {{presets-picker presets=presets
                   startSelected="startSelected"
                   endSelected="endSelected"}}

  <button {{action "toggleIsExpanded"}}>Close</button>
{{/if}}