<div class="date-range-picker">
  <div class="input-wrapper">
    {{input-mask value=rangeStart
                 mask="99/99/9999"
                 class="date-range-picker-input"
                 focus-in="toggleIsExpandedStart"
                 key-press="parseInput"}}

    <span class="separator">-</span>

    {{input-mask value=rangeEnd
                 mask="99/99/9999"
                 class="date-range-picker-input"
                 focus-in="toggleIsExpandedEnd"
                 key-press="parseInput"}}

    <button class="preset-trigger" {{action "toggleIsExpandedPreset"}}>=</button>
  </div>


  {{#if isExpandedStart}}
    <div class="date-range-panel">
      <div class="calendars-console">
        {{calendar-display classNames="calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=startMonth
                           daySelected="startSelected"
                           prevMonth="prevStartMonth"
                           nextMonth="nextStartMonth"}}

      </div>

      <div class="action-console">
        <button {{action "cancelStart"}}>Cancel</button>
        <button {{action "applyStart"}}>Apply</button>
      </div>
    </div>
  {{/if}}

  {{#if isExpandedEnd}}
    <div class="date-range-panel">
      <div class="calendars-console">

        {{calendar-display classNames="calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=endMonth
                           daySelected="endSelected"
                           prevMonth="prevEndMonth"
                           nextMonth="nextEndMonth"}}
      </div>

      <div class="action-console">
        <button {{action "cancelEnd"}}>Cancel</button>
        <button {{action "applyEnd"}}>Apply</button>
      </div>
    </div>
  {{/if}}

  {{#if isExpandedPreset}}
    <div class="date-range-panel">
      <div class="button-console">
        {{presets-picker presets=presets
                         startSelected="startSelected"
                         endSelected="endSelected"}}
      </div>

      <div class="action-console">
        <button {{action "cancelPreset"}}>Cancel</button>
        <button {{action "applyPreset"}}>Apply</button>
      </div>
    </div>
  {{/if}}
</div>