<div class="date-range-picker">
  {{input-mask value=rangeFormatted
               mask="99/99/9999 - 99/99/9999"
               class="date-range-picker-input"
               focus-in="toggleIsExpanded"
               key-press="parseInput"}}

  <div class="date-range-panel">
    {{#if isExpanded}}
      <div class="button-console">
        {{presets-picker presets=presets
                         startSelected="startSelected"
                         endSelected="endSelected"}}
      </div>

      <div class="calendars-console">
        {{calendar-display classNames="calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=startMonth
                           daySelected="startSelected"
                           prevMonth="prevStartMonth"
                           nextMonth="nextStartMonth"}}

        {{calendar-display classNames="calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=endMonth
                           daySelected="endSelected"
                           prevMonth="prevEndMonth"
                           nextMonth="nextEndMonth"}}
      </div>

      <div class="action-console">
        <button {{action "cancel"}}>Cancel</button>
        <button {{action "apply"}}>Apply</button>
      </div>
    {{/if}}
  </div>
</div>