<div class="dp-date-range-picker">
  {{#if showInput}}
    {{input-mask class="dp-date-input"
                 value=rangeFormatted
                 greedy=false
                 skipOptionalPartCharacter="/"
                 mask="9[9]/9[9]/9[9][99]-9[9]/9[9]/99[99]"
                 focus-in="toggleIsExpanded"
                 key-press="parseInput"
                 tabindex=1}}
  {{/if}}

  {{#if isExpanded}}
    <div class="dp-panel">
      {{#presets-picker class="dp-presets"
                        presets=presets
                        startSelected="startSelected"
                        endSelected="endSelected"}}
        {{input-mask class="dp-presets-date-input"
                     value=rangeFormatted
                     greedy=false
                     skipOptionalPartCharacter="/"
                     mask="9[9]/9[9]/99[99]-9[9]/9[9]/99[99]"
                     key-press="parseInput"}}
      {{/presets-picker}}

      {{calendar-display class="dp-display-calendar"
                         selectionStart=startDate
                         selectionEnd=endDate
                         month=startMonth

                         daySelected="startSelected"
                         prevMonth="prevStartMonth"
                         nextMonth="nextStartMonth"}}

      {{calendar-display class="dp-display-calendar"
                         selectionStart=startDate
                         selectionEnd=endDate
                         month=endMonth
                         daySelected="endSelected"
                         prevMonth="prevEndMonth"
                         nextMonth="nextEndMonth"}}

      <div class="dp-action-console">
        <button {{action "clear"}} class="dp-clear" tabindex=1>Clear</button>
        <button {{action "cancel"}} class="dp-cancel" tabindex=1>Cancel</button>
        <button {{action "apply"}} class="dp-apply" tabindex=1>Apply</button>
      </div>
    </div>
  {{/if}}
</div>
