<div class="dp-date-range-picker">
  {{#basic-dropdown verticalPosition="below"
                    registerAPI=(action (mut dropdownController))
                    initiallyOpened=initiallyOpened
                    renderInPlace=true
                    as |dropdown|}}
    {{#dropdown.trigger tabindex=tabIndex
                        onFocusIn=(action "onFocusInput")
                        onFocusOut=(action "onFocusOut")
                        onKeydown=(action "handleKeydown")}}
      {{range-input-mask value=rangeFormatted
                         mask=mask
                         class="dp-date-input"
                         key-press="parseInput"}}
    {{/dropdown.trigger}}
  
    {{#dropdown.content class="dp-panel"
                        to="dp-date-range-picker"}}
        {{#presets-picker class="dp-presets"
                          presets=presets
                          startSelected="startSelected"
                          endSelected="endSelected"}}
          {{range-input-mask class="dp-presets-date-input"
                             value=rangeFormatted
                             mask=mask
                             key-press="parseInput"}}
        {{/presets-picker}}
  
        {{calendar-display class="dp-display-calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=startMonth
                           daySelected="startSelected"
                           prevMonth="prevStartMonth"
                           nextMonth="nextStartMonth"}}
  
        {{calendar-display class="dp-display-calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=endMonth
                           daySelected="endSelected"
                           prevMonth="prevEndMonth"
                           nextMonth="nextEndMonth"}}
  
        <div class="dp-action-console">
          <button {{action "cancel"}} class="dp-cancel {{if cancelSelected 'dp-action-selected'}}">Cancel</button>
          <button {{action "apply"}} class="dp-apply {{if applySelected 'dp-action-selected'}}">Apply</button>
        </div>
      {{/dropdown.content}}
  {{/basic-dropdown}}
</div>
