<div class="date-range-picker">
  {{#if showInput}}
    {{input-mask value=rangeFormatted
                 mask="99/99/9999 - 99/99/9999"
                 class="month-picker-input"
                 focus-in="toggleIsExpanded"
                 key-press="parseInput"}}
  {{/if}}

  {{#if isExpanded}}
    <div class="date-range-panel">
      {{presets-picker classNames="presets"
                       presets=presets
                       startSelected="startSelected"
                       endSelected="endSelected"}}

      {{input-mask value=rangeFormatted
                   mask="99/99/9999 - 99/99/9999"
                   class="month-picker-input"
                   key-press="parseInput"}}


<<<<<<< HEAD
      {{calendar-display classNames="calendar"
                         selectionStart=startDate
                         selectionEnd=endDate
                         month=startMonth
                         daySelected="startSelected"
                         prevMonth="prevStartMonth"
                         nextMonth="nextStartMonth"}}

      {{calendar-display classNames="calendar"
                         selectionStart=startDate
                         selectionEnd=endDate
                         month=endMonth
                         daySelected="endSelected"
                         prevMonth="prevEndMonth"
                         nextMonth="nextEndMonth"}}
=======
        {{input-mask value=rangeFormatted
                     mask="99/99/9999 - 99/99/9999"
                     class="month-picker-input"
                     key-press="parseInput"}}
      </div>

      <div class="calendars-console">
        {{calendar-display classNames="calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=startMonth
                           wormholePostfix="-left"
                           daySelected="startSelected"
                           prevMonth="prevStartMonth"
                           nextMonth="nextStartMonth"}}

        {{calendar-display classNames="calendar"
                           selectionStart=startDate
                           selectionEnd=endDate
                           month=endMonth
                           wormholePostfix="-right"
                           daySelected="endSelected"
                           prevMonth="prevEndMonth"
                           nextMonth="nextEndMonth"}}
      </div>
>>>>>>> topic/month-and-year-pickers

      <div class="action-console">
        <button {{action "cancel"}} class="cancel">Cancel</button>
        <button {{action "apply"}} class="apply">Apply</button>
      </div>
    </div>
    {{/if}}
</div>
