<h3>
  <pre>
    \{{date-range-picker presets=presets
                        apply="apply"
                        startDate=start
                        endDate=end
                        showInput=true
                        cancel="cancel"}}
  </pre>
</h3>

{{date-range-picker presets=presets
                    apply="apply"
                    startDate=start
                    endDate=end
                    showInput=true
                    cancel="cancel"}}

<h3>
  <pre>
    \{{month-picker startDate=start
                   endDate=end
                   showInput=true}}
  </pre>
</h3>

{{month-picker startDate=start
               endDate=end
               showInput=true}}

<h3>
  <pre>
    \{{year-picker start=start
                  end=end}}
  </pre>
</h3>

{{year-picker startDate=start
              endDate=end
              showInput=true}}