<h3>Date Range Picker</h3>
<code>
\{{date-range-picker presets=presets
                    apply="apply"
                    startDate=start
                    endDate=end
                    cancel="cancel"}}
</code>
{{date-range-picker presets=presets
                    apply="apply"
                    startDate=start
                    endDate=end
                    cancel="cancel"}}

<h3>Date Picker (input)</h3>
<code>\{{date-picker selected="selected" date=date}}</code>
{{date-picker selected="selected" date=date}}

<h3>Date Picker (div)</h3>
<code>\{{date-picker selected="selected" date=date showInput=false}}</code>
{{date-picker selected="selected" date=date showInput=false}}
