<h3>
  <pre>
    \{{date-range-picker presets=presets
                        startDate=start
                        endDate=end
                        apply="apply"
                        cancel="cancel"}}
  </pre>
</h3>

{{date-range-picker presets=presets
                    startDate=start
                    endDate=end
                    apply="apply"
                    cancel="cancel"}}

<h3>
  <pre>
    \{{month-picker startDate=start
                   endDate=end}}
  </pre>
</h3>

{{month-picker startDate=start
               endDate=end}}

<h3>
  <pre>
    \{{year-picker startDate=start
                  endDate=end}}
  </pre>
</h3>

{{year-picker startDate=start
              endDate=end}}