<div class="calendar-header">
  <button class="btn-previous-month" {{action "prevMonth"}}/>

  <div class="month-year">
    {{month-display}}

    {{year-display}}
  </div>

  <button class="btn-next-month" {{action "nextMonth"}}/>
</div>

<div class="calendar-body">
  {{#if calendarExpanded}}
    {{#each weeks as |week|}}
      <div class='week'>
        {{#each week as |day|}}
          {{day-display selectionStart=selectionStart
                        selectionEnd=selectionEnd
                        day=day
                        month=month
                        daySelected="daySelected"}}
        {{/each}}
      </div>
    {{/each}}
  {{/if}}

  <div id="month-display-buttons"></div>

  <div id="year-display-buttons"></div>
</div>
