<button class="dp-previous-month" {{action "prevMonth"}}/>

{{month-display month=month}}

{{year-display startDate=selectionStart}}

<button class="dp-next-month" {{action "nextMonth"}}/>

<div class="dp-calendar-body">
  {{#if calendarExpanded}}
    {{#each weeks as |week|}}
      <div class="dp-week">
        {{#each week as |day|}}
          {{day-display selectionStart=selectionStart
                        selectionEnd=selectionEnd
                        day=day
                        month=month
                        daySelected="daySelected"}}
        {{/each}}
      </div>
    {{/each}}
  {{/if}}
</div>
