<div class="header">
  <div class="previous-month"><button {{action "prevMonth"}}/></div>

  {{month-display class="month-select"
                  month=month
                  wormholePostfix=wormholePostfix}}

  {{year-display class="year-select"
                 startDate=selectionStart
                 wormholePostfix=wormholePostfix}}

  <div class="next-month"><button {{action "nextMonth"}}/></div>
</div>

<div class="calendar-body">
  {{#if calendarExpanded}}
    {{#each weeks as |week|}}
      <div class='week'>
        {{#each week as |day|}}
          {{day-display selectionStart=selectionStart
                        selectionEnd=selectionEnd
                        day=day
                        month=month
                        daySelected="daySelected"}}
        {{/each}}
      </div>
    {{/each}}
  {{/if}}

  <div id="month-display-buttons{{wormholePostfix}}"></div>

  <div id="year-display-buttons{{wormholePostfix}}"></div>
</div>
