<div class="dp-year-picker">
  {{#basic-dropdown verticalPosition="below"
                    registerAPI=(action (mut dropdownController))
                    renderInPlace=true
                    initiallyOpened=initiallyOpened
                    as |dropdown|}}
    {{#dropdown.trigger tabindex=tabIndex
                        onFocus=(action "onFocusInput")
                        onKeydown=(action "handleKeydown")}}
      {{input-mask value=rangeFormatted
                   mask="EY 99[99]"
                   class="dp-date-input"
                   key-press="parseInput"}}
    {{/dropdown.trigger}}

    {{#dropdown.content class="dp-panel"
                        to="dp-year-picker"}}
      <div class="dp-display-year">
        {{energy-year-display startDate=startDate
                              endDate=endDate
                              startOfYearMonth=startOfYearMonth
                              startOfYearDay=startOfYearDay
                              endOfYearMonth=endOfYearMonth
                              endOfYearDay=endOfYearDay
                              hideButton=true
                              isExpanded=true
                              yearWasSelected="apply"
                              ignoreMonthAndDay=true}}
      </div>

      <div class="dp-action-console">
        <button {{action "cancel"}} class="dp-cancel {{if cancelSelected 'dp-action-selected'}}">Cancel</button>
        <button {{action "apply"}} class="dp-apply {{if applySelected 'dp-action-selected'}}">Apply</button>
      </div>
    {{/dropdown.content}}
  {{/basic-dropdown}}
</div>
